body {
	background: url(/images/bg_corkboard.jpg) top left repeat fixed;
}

.sticky-note-class {
	position: absolute;
	
}

.sticky-note-class .title {
	background: transparent;
	border: none;
	display: block;
	font-size: 20px;
	font-weight: bold;
}

.sticky-note-class .body {
	background: transparent;
	border: none;
	display: block;
}

textarea{
	width: 100%;
}